<form enctype="multipart/form-data" method="post">
    <!-- llave que indica que el form viene desde la misma aplicacion-->
    {% csrf_token %}
    {% for field in formulario %}

    <div class="mb-3">
        <label for="" class="form-label">{{field.label}}</label>
        <br>
        {% if field.field.widget.input_type == 'file' and field.value %}
        <img src="{{ field.value.url }}" width="100" height="100" alt="Imagen actual">
        {% endif %}

        <input type={{field.field.widget.input_type}} class="form-control" name={{field.name}} id=""
            aria-describedby="helpId" placeholder="{{field.label}}" value="{{field.value|default:' '}}" />

    </div>
    <div class="col-12 help-text">{{field.errors}} </div>
    {% endfor %}

    <input name="" id="" class="btn btn-success" type="submit" value="Enviar Información" />
<a name="" id="" class="btn btn-primary" href="{% url 'listar_tipos_propiedades' %}" role="button">Cancelar</a>
</form>