{% extends 'base.html' %}

{% block title %}Lista de Propietarios{% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header">
        <a class="btn btn-success" href="{% url 'crearPropietario' %}" role="button">Agregar Propietario</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Lista de Propietarios</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for propietarios in propietarios %}
                    <tr>
                        <td style="width: 20%">{{ propietarios.id }}</td>
                        <td style="width: 25%">{{ propietarios.name }}</td>
                        <td style="width: 25%">{{ propietarios.owner_type }}</td>

                        <td style="width: 20%">
                            <a class="btn btn-info" href="{% url 'editarPropietario' propietarios.id %}"
                                role="button">Editar</a>
                            |
                            <a class="btn btn-danger" href="{% url 'borrarPropietario' propietarios.id %}"
                                role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if propietarios.has_previous %}
                    <a class="btn btn-primary" href="?page=1">&laquo; Primera</a>
                    <a class="btn btn-secondary" href="?page={{ propietarios.previous_page_number }}">Anterior</a>
                    {% endif %}
                    <span class="current">
                        Página {{ propietarios.number }} de {{ propietarios.paginator.num_pages }}.
                    </span>
                    {% if propietarios.has_next %}
                    <a class="btn btn-secondary" href="?page={{ propietarios.next_page_number }}">Siguiente</a>
                    <a class="btn btn-primary" href="?page={{ propietarios.paginator.num_pages }}">Última &raquo;</a>
                    {% endif %}
                </span>
            </div>

        </div>
    </div>
</div>
{% endblock %}